
{% extends 'base.html' %}
{% load static %}

{% block title %} <title>All Products</title>  {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<div class="container">
    <div class="title">Список товаров</div>
    <form method="post">
        {% csrf_token %}
        <input name="title" type="text">
        <button>Найти</button>
    </form>
    {% for product in all_products %}
        <div id="ono {{ product.id }}" class="product">
            <div class="product-title">{{ product.title }}</div>
            <div class="product-seller">Продавец: {{ product.seller_id }}</div>
            {% for img in all_images %}
                {% if img.product_id == product %}
                    <img src="{{ img.image.url }}" alt="">
                {% endif %}
            {% endfor %}
                 <button id="add {{ product.id }}" class="btn" data-url = "{% url 'shop:add_cart' product.id %}">
                ➕
            </button>
            {% for cart in my_products %}
                {% if cart.product_id == product %}
                    <p id="qunt {{ product.id }}">{{ cart.quantity }}</p>
                    <button id="minus {{ product.id }}" class="btn" data-url = "{% url 'shop:minus_cart' product.id %}">➖
                </button>
                
                
                {% endif %}
                {% endfor %}
            
    
        </div>
    {% endfor %}
    
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
